@import url('../global.css');

.error {
    border-color: var(--failure);
}

.chart-wrapper {
    width: 300px;
    height: 300px;
}

.chart-spacer {
    width: 200px;
}

#auth-prompt > div > * {
    margin-bottom: 5%;
}
